backports.tarfile
black
fqdn
html5lib
importlib-metadata
isoduration
isort
jaraco.collections
jsonpointer
jupyterlab
jupyterlab-code-formatter
mplfinance
odfpy
openpyxl
pingouin
pip-chill
pip-review
rfc3987-syntax
tinycss2
tomli
uri-template
webcolors
xlrd
xlwt
yfinance
