backports.tarfile
dash
fqdn
importlib-resources
inflect
isoduration
japanize-matplotlib
jaraco.collections
jsonpointer
jupyterlab
kaleido
mplfinance
pip-chill
pip-review
scipy
tomli
uri-template
webcolors
wget
xlrd
yfinance
