autopep8
backports.tarfile
black
dash
dash-core-components
dash-html-components
dash-table
fqdn
html5lib
importlib-resources
inflect
isoduration
isort
japanize-matplotlib
jaraco-collections
jaraco-functools
jaraco.collections
jsonpointer
jupyterlab
jupyterlab-code-formatter
jupyterlab-git
jupyterlab-language-pack-ja-jp
kaleido
mplfinance
odfpy
openpyxl
pandas-datareader
pingouin
pip-chill
pip-review
tenacity
tinycss2
tomli
uri-template
webcolors
wget
xlrd
xlwt
yapf
yfinance
